/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEE;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 900px;
    position: relative;
}


article {
    text-align: left;
    float: left;
    width: 900px;
}


header {
    color: red;
    text-align: left;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* afbeeldingen stijlen */

img.zweefrechts {
    float: right;
    width: 320px;
    height: 280px;
}
img.zweefLinks {
    float: right;
    width: 200px;
}

img.floatright{
    float: left;
    width: 200px;
}

/* specifieke stijlen */

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: bold;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(252, 247, 247);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #6fb5ca;
}

nav li a.active {
    background-color: rgb(85, 38, 214);
}



/* boxen pagina 1 */

.div1 {
    width: 500px;
    height: 300px;
    border: 10px solid red;
    background-color: blue;
}

.div2 {
    width: 890px;
    height: 250px;
    border: 10px solid red;
}

.div3 {
    width: 900px;
    height: 200px;
    background-color: blue;
}

/* boxen pagina 5 */

.div4 { 
     width: 900px;
     height: 220px;
     border: 10px solid green
}


.div5{
    width: 900px;
    height: 200px;
    background-color: solid red;
}

.div6{
    width: 900px;
    height: 200px;
    background-color: green;
}


/* boxen pagina 4 */

.div7{
    width: 450px;
    height: 400px;
    float: left;
}

.div8{
    width: 450px;
    height: 400px;
    float: right;
}



